

.container {
  max-width: 1200px;
  padding: 0 10%;
}

h1 {
  font-size: 6rem;
}

.home-wrapper {
  text-align: center;
}

input {
  border: 2px solid black;
  width: 50%;
  height: 40px;
}
button {
  border-top: 2px solid black;
  height: 46px;
  border-left: 0!important;
  width: 10%;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: .3s;
}

button:hover {
  background-color: white;
  color: black;
}